.f-name {
    font-family: "HelveticaNeue", Roboto, "IBM Plex Serif", serif;
    font-weight: 500;
    font-size: 13px;
    color: #666;
}
.f-status {
    font-family: "HelveticaNeue", Roboto, "IBM Plex Serif", serif;
    text-transform: uppercase;
    font-weight: light;
    font-size: 10px;
    // letter-spacing: 0.1rem;
    color: #999;
}
