.center {
    width: 100%;
}

.f-upload-label {
    border-color: #c7c7c7;
    border-width: 2px;
    border-style: dashed;
    border-radius: 8px;

    &:hover {
        box-shadow: 0px 0px 12px #c7c7c7;
    }
}

.conversion-config-sidebar {
    padding: 25px 15px;
    position: fixed;
    width: 340px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
    background: #ffff;
    box-shadow: 0px 0px 5px #ccc;
}


.page-wrapper {
    margin-right: 340px;
}